body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* ocupa toda la altura de la ventana */
    background-color: rgb(30, 30, 30);
    color: white;
    /* Fuente: Poiret One */
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textocentrado{
    text-align: center;
}

/* Navbar */
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    background-color: black;
    border-bottom: 2px solid cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: cornflowerblue;
    letter-spacing: 1.5px;
}

.navlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img{
    width: 70px;
    height: auto;
}

nav h1{
    color: white;
}
#opcatual{
    pointer-events: none;
    color: cornflowerblue;
}
/* ------ */


/* Footer */
footer{
    margin-top: 100px;
    top: 0;
    left: 0;
    padding: 50px 100px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
}

footer a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

footer a:hover{
    color: rgb(182, 207, 255);
}

footer p{
    padding-left: 80px;
}
/* ------ */


/* Contenido de pagina */
#contenidopag{
    flex: 1;    /* ocupa todo el espacio disponible */
    margin-top: 3.5%;
}
/* ------------------- */


/* --Página principal-- */
/* Hero */
.herocontenido{
    width: 100%;
    height: 400px;
    background-image: url("./assets/img/escenajuego.jpg"); /* ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-bottom: 90px;
}
/* ---- */

/* Animación scroll */
.animacionscroll{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.animacionscroll h2{
    font-size: 40px;
    animation-name: textoscroll;
    animation-duration: 2s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 60%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes textoscroll{
    from {opacity: 0; }
    to {opacity: 1; }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .cartaizquierda {
        animation-name: textoscroll;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

.cartaizquierda{
    width: 20%;
    animation-name: scrollcartaizquierda;
    animation-duration: 2s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 60%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes scrollcartaizquierda{
    from {opacity: 0; transform: translateX(0); rotate: 0; }
    to {opacity: 1; transform: translateX(100%); rotate: 10deg; }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .cartaizquierda {
        animation-name: scrollcartaizquierda;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

.cartaderecha{
    width: 20%;
    animation-name: scrollcartaderecha;
    animation-duration: 2s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 60%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes scrollcartaderecha{
    from {opacity: 0; transform: translateX(0); rotate: 0; }
    to {opacity: 1; transform: translateX(-100%); rotate: -10deg; }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .cartaderecha {
        animation-name: scrollcartaderecha;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}
/* ---------------- */

/* Animación lottie */
.animacionlottie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lottie{
    margin-top: 60px;
    width: 50%;
    height: auto;
}
/* ---------------- */

/* introducción al juego */
.introjuego{
    margin: 130px 17% 0;
}

.tituloapartado{
    border-bottom: 4px solid cornflowerblue;
    font-size: 2.5rem;
}

.introjuego h2{
    font-size: 2rem;
    margin-left: 6%;
}

.introjuego li{
    font-size: 1.5rem;
    margin-left: 14%;
}

.introjuego a{
    margin-left: 6%;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(182, 207, 255);
    transition: all 0.3s ease-in-out;
}

.introjuego a:hover{
    color: cornflowerblue;
    letter-spacing: 1px;
}
/* --------------------- */
/* -------------------- */


/* Intrucciones */
.pag{
    width: 80%;
    margin: 0 auto;
}

.explicacion, .partecartas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.explicacion div{
    flex: 0 0 calc(33% - 16px); /* 3 columnas */
    box-sizing: border-box;
}

.quehacecarta{
    flex: 0 0 calc(28% - 16px); /* 3 columnas */
    box-sizing: border-box;
    border: 10px solid rgb(30, 30, 30);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
}

.quehacecarta img{
    width: 100%;
}

.quehacecarta:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.445);
    background-color: black;
    border: 10px solid black;
}
/* ------------ */


/* Historia */
.recorteimg{
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recorteimg img{
    width: 100%;
    height: auto;
}


/* Carousel */
.carousel{
    margin-top: 5%;
    border-radius: 12px;
    box-shadow: 0 7px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
}

.carousel input{    /* Ocultar */
    display: none;
}

/* Slides container */
.slides{
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide{
    align-items: center;
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    justify-content: center;
    min-height: 450px;
    min-width: 100%;
    padding: 2rem 0;
    text-align: center;
}

/* Slide backgrounds */
.slide:nth-child(1) { background-image: url("./assets/img/escenajuego1.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
.slide:nth-child(2) { background-image: url("./assets/img/jugadores.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }
.slide:nth-child(3) { background-image: url("./assets/img/escenajuego2.jpg"); background-size: cover; background-position: center; background-repeat: no-repeat; }


/* Slide positioning based on checked radio */
body:has(#slide1:checked) .slides { transform: translateX(0%); }
body:has(#slide2:checked) .slides { transform: translateX(-100%); }
body:has(#slide3:checked) .slides { transform: translateX(-200%); }

/* Navigation arrows */
.flecha{
    align-items: center;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 30px;
    font-weight: bold;
    width: 48px;
    height: 60px;
    padding-bottom: 5px;
    justify-content: center;
    position: absolute;
    top: 41%;
    transition: background-color 0.3s;
    z-index: 10;
}

.flecha:hover{
    background-color: rgba(0,0,0,0.6);
}

.prev { left: 1rem; }
.next { right: 1rem; }

    /* Slide 1: solo ir al posterior */
body:has(#slide1:checked) .flecha_Next1 { display: flex; }

    /* Slide 2: anterior y posterior */
body:has(#slide2:checked) .flecha_Prev2,
body:has(#slide2:checked) .flecha_Next2 { display: flex; }

    /* Slide 3: solo ir al anterior */
body:has(#slide3:checked) .flecha_Prev3 { display: flex; }

/* Puntos de navegacion */
.dots {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    padding: 20px 0;
}

.dot {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    transition: all 0.3s ease;
}

.dot:hover {
    transform: scale(1.2);
}

/* Punto actual donde estas situado */
body:has(#slide1:checked) .dots label:nth-child(1),
body:has(#slide2:checked) .dots label:nth-child(2),
body:has(#slide3:checked) .dots label:nth-child(3){
    background: cornflowerblue;
    transform: scale(1.3);
}
/* -------- */
/* -------- */

/* Contacto */
.direccion{
    width: 100%; 
    height: auto;
    border: 0;
}

/* -------- */