body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* ocupa toda la altura de la ventana */
    background-color: rgb(30, 30, 30);
    color: white;
    /* Fuente: Poiret One */
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textocentrado{
    text-align: center;
}

/* Navbar */
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    background-color: black;
    border-bottom: 2px solid cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: larger;
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}

nav a:hover{
    color: cornflowerblue;
    letter-spacing: 1.5px;
}

.navlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img{
    width: 70px;
    height: auto;
}

nav h1{
    color: white;
}
#opcatual{
    pointer-events: none;
    color: cornflowerblue;
}
/* ------ */


/* Footer */
footer{
    margin-top: 100px;
    top: 0;
    left: 0;
    padding: 50px 100px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40px;
}

footer a{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

footer a:hover{
    color: rgb(182, 207, 255);
}

footer p{
    padding-left: 80px;
}
/* ------ */


/* Contenido de pagina */
#contenidopag{
    flex: 1;    /* ocupa todo el espacio disponible */
    margin-top: 3.5%;
}
/* ------------------- */

/* --Página principal-- */
/* Hero */
.herocontenido{
    width: 100%;
    height: 400px;
    background-image: url("./assets/img/escenajuego.jpg"); /* ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-bottom: 90px;
}
/* ---- */

/* Animación scroll */
.animacionscroll{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.animacionscroll h2{
    font-size: 40px;
    animation-name: textoscroll;
    animation-duration: 2s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 60%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes textoscroll{
    from {opacity: 0; }
    to {opacity: 1; }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .cartaizquierda {
        animation-name: textoscroll;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

.cartaizquierda{
    width: 20%;
    animation-name: scrollcartaizquierda;
    animation-duration: 2s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 60%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes scrollcartaizquierda{
    from {opacity: 0; transform: translateX(0); rotate: 0; }
    to {opacity: 1; transform: translateX(100%); rotate: 10deg; }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .cartaizquierda {
        animation-name: scrollcartaizquierda;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}

.cartaderecha{
    width: 20%;
    animation-name: scrollcartaderecha;
    animation-duration: 2s;
    animation-timeline: view(); /* El progreso de la animación depende de si el bloque esta dentro del viewport */
    animation-range: 0% 60%;   /* Cuando empieza y termina la animación segun la posición del bloque dentro de la pantalla */
    animation-fill-mode: both;  /* Mantener estado final */
}

@keyframes scrollcartaderecha{
    from {opacity: 0; transform: translateX(0); rotate: 0; }
    to {opacity: 1; transform: translateX(-100%); rotate: -10deg; }
}

/* Fallback obligatori */
@supports not (animation-timeline: view()) {
    .cartaderecha {
        animation-name: scrollcartaderecha;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }
}
/* ---------------- */

/* Animación lottie */
.animacionlottie{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lottie{
    margin-top: 60px;
    width: 50%;
    height: auto;
}
/* ---------------- */

/* introducción al juego */
.introjuego{
    margin: 130px 17% 0;
}

.tituloapartado{
    border-bottom: 4px solid cornflowerblue;
    font-size: 2.5rem;
}

.introjuego h2{
    font-size: 2rem;
    margin-left: 6%;
}

.introjuego li{
    font-size: 1.5rem;
    margin-left: 14%;
}

.introjuego a{
    margin-left: 6%;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(182, 207, 255);
    transition: all 0.3s ease-in-out;
}

.introjuego a:hover{
    color: cornflowerblue;
    letter-spacing: 1px;
}
/* --------------------- */
/* -------------------- */

/* Intrucciones */
